coverage.html
lib-cov/
node_modules
.travis.yml
examples/
.eslintrc
.eslintignore
coverage/
screenshoots/
reports/
temp/
.idea
public/index.js
package-lock.json
*.sw*
*.un~
package-lock.json
bin/reports
*.tgz
