<!DOCTYPE html>
<html lang="en">
<head>
  <meta charSet="UTF-8"/>
  <meta name="description" content=""/>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <title>Macaca App inspector</title>
  <link rel="shortcut icon" href="//macacajs.github.io/assets/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="index.css" />
  <script src="jquery-3.2.1.min.js"></script>
</head>
<body>
  <div id="app">
    <header></header>
    <img id="screen" />
    <footer></footer>
  </div>
  <script src="index.js"></script>
</body>
</html>
